{% extends 'layout.html' %}

{% block title %}图书列表{% endblock %}
{% block head %}
{% parent %}
{% endblock %}
{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/">Books</a></li>
        <li class="active">Create Book</li>
    </ul>
    <div class="books-create">
        <h1>Create Book</h1>
        <div class="books-form">
            <form id="w0" action="/createbook/create" method="post">
                <!-- <input type="hidden" name="_csrf" value="sapOmD6fpCbvyMfReYadNcjmz30XQTFnPYSW24fnAwDX6SvwddmXcoyCr-AUyqpC8IeYMW8ABVF258yMz6U6UQ=="> -->
                <div class="form-group field-books-id required">
                    <label class="control-label" for="books-id">ID</label>
                    <input type="text" id="books-id" class="form-control" name="Books[id]" maxlength="10" aria-required="true">
                    <div class="help-block"></div>
                </div>
                <div class="form-group field-books-book">
                    <label class="control-label" for="books-book">Book</label>
                    <input type="text" id="books-book" class="form-control" name="Books[book]" maxlength="52">
                    <div class="help-block"></div>
                </div>
                <div class="form-group field-books-auther">
                    <label class="control-label" for="books-auther">Auther</label>
                    <input type="text" id="books-auther" class="form-control" name="Books[auther]" maxlength="50">

                    <div class="help-block"></div>
                </div>
                <div class="form-group field-books-type">
                    <label class="control-label" for="books-type">Type</label>
                    <input type="text" id="books-type" class="form-control" name="Books[type]" maxlength="50">

                    <div class="help-block"></div>
                </div>
                <div class="form-group field-books-price">
                    <label class="control-label" for="books-price">Price</label>
                    <input type="text" id="books-price" class="form-control" name="Books[price]" maxlength="50">

                    <div class="help-block"></div>
                </div>
                <div class="form-group field-books-publish">
                    <label class="control-label" for="books-publish">Publish</label>
                    <input type="text" id="books-publish" class="form-control" name="Books[publish]" maxlength="50">

                    <div class="help-block"></div>
                </div>
                <div class="form-group field-books-date">
                    <label class="control-label" for="books-date">Date</label>
                    <input type="text" id="books-date" class="form-control" name="Books[date]" maxlength="50">

                    <div class="help-block"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button> 
                </div>
            </form>
        </div>
    </div>
</div>
<script text="javascript">
    // import CreateBook from 'scripts/create.js'
    $('.btn-success').click(function(e){
        e.preventDefault()
        const obj = {};
        let str = '';
        const t = $('form').serializeArray();
        $.each(t, function() {
            str = this.name + '=' + this.value + '&' + str;
        });
        str = str.slice(0, str.length-1)
        const newBook = new CreateBook()
        newBook.create(str)
    })
    
    class CreateBook {
        constructor(ctx) {
            this.ctx = ctx;
        }
        create(data){
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: data
            }
            fetch('http://localhost:3000/createbook/create', options)
            .then(response => response.json())
            .then(result => {
                console.log(result)
                if(result.data) {
                    window.location.href = `/view?id=${result.data.Books.id}`
                }
            })
            .catch(err => {
                console.log(err)
            })
        }
    }
    
</script>
{% endblock %}