<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}图书管理系统{% endblock %}</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="wrap">
        <nav id="w1" class="navbar-inverse navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">图书管理系统</a>
                </div>
                <div id="w1-collapse" class="collapse navbar-collapse">
                    <ul id="w2" class="navbar-nav navbar-right nav">
                        <li class="active"><a href="/">图书管理系统</a></li>
                        <li><a href="/index.php?r=site%2Fabout">关于</a></li>
                        <li><a href="/index.php?r=site%2Fcontact">联系方式</a></li>
                        <li><a href="/index.php?r=site%2Flogin">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="pull-left">© 图书管理系统 2019</p>
            <p class="pull-right">Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a></p>
        </div>
    </footer>
</body>
</html>